
body {
    background-color: black;
    color: greenyellow;
    user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

#studio_clock {
    font-size: 8em;
    text-align: center;
    letter-spacing: 4px;
}

#panel {
    height: 40px;
    width: 100%;
    min-width: 780px;
    text-align: center;
}

#mesure {
    display: inline;
    font-size: 2em;
    cursor: pointer;
}

#studio_clock_bpm {
    display: inline;
    margin-right: 5%;
    font-size: 2em;
}

#bpm {
    cursor: pointer;
    margin-right: 8px;
}

input#bpm_input {
    height: 25px;
    vertical-align: middle;
    width: 50px;
}

button {
    height: 30px;
    padding: 2px;
    width: 60px;
}

#metronome {
    width: 25px;
    display: inline;
    margin-right: 8px;
    cursor: pointer;
}

#sampleRate {
    display: inline;
    margin-right: 5%;
    font-size: 2em;
}

#type {
    display: inline;
    font-size: 1.4em;
    margin-right: 5%;
    color: black;
    background-color: greenyellow;
    padding: 5px;
    font-weight: bold;
}

#command {
    padding-top: 11em;
    text-align: center;
}

.btn_ctrl {
  width: 60px;
  color: white;
  background-color: #006254;
  border: 0px solid;
  margin: 8px;
  cursor: pointer;
}
